# Ignore Mac system files
.DS_store
dist
*.zip
# Ignore all .terraform files
.terraform/**

# Ignore node_modules folder
node_modules
.node_modules-*

# Ignore lambda-functions/archive/*.zip files
*/lambda-functions/archive/*.zip

# Ignore files from IntelliJ IDE
.idea/

# Ignore files from reports
reports/

# Ignore Environment Files
.env
.env-dev
.env-stage
.env-prod
.env*

# Ignore Build Folder
build/*

# Ignore logs
logs/*

# Ignore VScode settings
.vscode/

# Ignore git files
.git.*

# Ignore log files
*.log

# Ignore yarn.lock file
yarn.lock
package-lock.json